.about {
  padding: 80px 140px;
  background: #fff;

  &__title {
    text-align: center;
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
  }

  &__img {
    width: 400px;
    height: 250px;
    border-radius: 16px;
    outline: 1px solid #c9c9c9;
    outline-offset: 10px;
  }

  &__content {
    flex: 1;
    min-width: 280px;

    h3 {
      font-size: 40px;
      margin-bottom: 20px;
      color: var(--text-dark);
      font-weight: 700;
    }

    h5 {
      color: var(--text-dark);
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.2px;
      margin-bottom: 20px;
    }

    h4 {
      color: var(--text-light);
      margin-bottom: 10px;
    }
  }
}

.read-more-btn {
  font-size: 13px;
  display: inline-flex;
  width: 120px;
  height: 40px;
  font-weight: 700;
  margin-top: 25px;
  padding: 12px 24px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 12px;
  text-decoration: none;
} 