.services {
  padding: 80px 140px;
  background: #fff;
  text-align: center;

  &__title {
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 20px;
  }

  &__text--dark,
  &__text--orange {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.2px;
  }

  &__text--dark {
    color: var(--text-dark);
  }

  &__text--orange {
    color: var(--primary-color);
  }

  &__heading {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__card {
    width: 300px;
    height: 230px;
    background: white;
    border: 0.2px solid #edecec;
    text-align: center;
    padding: 30px 20px;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background: var(--primary-color);

      .services__name,
      .services__desc {
        color: var(--text-white);
      }

      .services__icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__icon {
    height: 40px;
    margin-bottom: 20px;
    transition: 0.3s;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: 10px;
  }

  &__desc {
    font-size: 14px;
    color: var(--text);
  }
}
